<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1 class="section-heading">About</h1>
            <div>
        		<%= image_tag "profile.jpg", class: "profile-img" %>
        	</div>
            <br/>
            <br/>
            <p style="font-size: 24px; line-height: 40px;">
            <span style="white-space: nowrap;">
                <strong>Well-rounded full-stack developer</strong>
            </span>
            <span style="white-space: nowrap;">
                with a <strong>strong passion for learning</strong>.
            </span><hr/></p>
            <p style="font-size: 18px; line-height: 40px;">
            <span style="white-space: nowrap;">
                Proficient in <strong>Ruby/Rails, Python,</strong>
            </span>
            <span style="white-space: nowrap;">
                 <strong>JavaScript, C++, C#/.NET,</strong> and <strong>Java</strong>.
            </span><br/>
            <span style="white-space: nowrap;">
                Working knowledge of <strong>Git, Postgresql, </strong>
            </span>
            <span style="white-space: nowrap;">
                <strong>Redis, Docker,</strong> and <strong>Linux</strong> systems.
            </span><br/>
            <span style="white-space: nowrap;">
            Familiar with <strong>AWS</strong> (EC2, S3, VPC)
            </span>
            <span style="white-space: nowrap;">
                and <strong>Microsoft Azure</strong> Cloud Services.
            </span></p>
        </div>
    </div>
</section>