<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="section-heading">Contact</h1>
            <p>Feel free to reach out via email at:<br/>
            <a href="mailto:calvin.jaeho.lee@gmail.com">calvin.jaeho.lee@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <%= fa_button_helper("fa fa-envelope-open-o", "Email", 
                        "mailto:calvin.jaeho.lee@gmail.com") %>
                </li>
                <li>
                    <%= fa_button_helper("fa fa-linkedin fa-fw", "LinkedIn", 
                        "https://linkedin.com/in/calveenlee") %>
                </li>
                <li>
                    <%= fa_button_helper("fa fa-github fa-fw", "GitHub", 
                        "https://github.com/calvillain") %>
                </li>
            </ul>
        </div>
    </div>
</section>