<footer>
    <div class="container text-center">
        <span class="text-gray light">Made with Ruby/Rails, Start Bootstrap &amp; Heroku</span><br/>
        <span> Copyright &copy; 2020 calveenlee.com</span>
    </div>
</footer>
