<footer>
    <div class="container text-center">
        <span class="text-gray light">Made with Ruby/Rails, React, Start Bootstrap &amp; Heroku</span><br/>
        <span> Copyright &copy; 2018 calveenlee.com</span>
        <%= react_component("Logo", prerender: true) %>
    </div>
</footer>