
<%= javascript_pack_tag 'application' %>
<section id="resume" class="content-section text-center">
    <div class="resume-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download Resume</h2>
                <p>Download a copy of my resume in the format of your choice.</p>
                <ul class="list-inline">
                	<li>
                		<a href="#" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> PDF</a>
                	</li>
                	<li>
                		<%= link_to raw("<i class='fa fa-file-word-o fa-fw'></i> Word"), "#", class: "btn btn-default btn-lg" %>		
                	</li>                	
                </ul>
            </div>            
        </div>
    </div>
</section>