<section id="resume" class="content-section text-center">
    <div class="resume-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="section-heading">Resume</h1>
                <p>Download a copy of my resume in the format of your choice.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <%= fa_button_helper("fa fa-file-text-o", "Drive", "https://docs.google.com/document/d/1Me8KB5wsuAgcDoHVrJAU5NUsWJLMNJdc33vovQeT0rA", 
                            {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                    </li>
                	<li>
                		<%= fa_button_helper("fa fa-file-pdf-o", "PDF", "https://drive.google.com/file/d/1lh2TNDYLzySyB3gLQTKaPmjhhe-g_GUO/view?usp=sharing", 
                            {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                	</li>
                	<li>
                		<%= fa_button_helper('fa fa-file-word-o fa-fw', "Word", "https://drive.google.com/file/d/1AmHSW2vObrK0s3k02nVQ_0nAxjVyYEed/view?usp=sharing",
                            {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                	</li>                	
                </ul>
            </div>            
        </div>
    </div>
</section>
