<section id="resume" class="content-section text-center">
    <div class="resume-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="section-heading">Resume</h1>
                <p>Download a copy of my resume in the format of your choice.</p>
                <ul class="list-inline banner-social-buttons">
                  <li>
                    <%= fa_button_helper("fa fa-file-text-o", "Drive", "https://docs.google.com/document/d/17hmTbdZdvOwJ92AE6gVpvDO83SCf752C0IgMqDJbqgI/edit?usp=sharing", 
                        {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                  </li>
                	<li>
                		<%= fa_button_helper("fa fa-file-pdf-o", "PDF", "https://drive.google.com/file/d/1WLmf8j34DwuHOEifOKfhwr3gCRqDjie_/view?usp=sharing", 
                        {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                	</li>
                	<li>
                		<%= fa_button_helper('fa fa-file-word-o fa-fw', "Word", "https://drive.google.com/file/d/1b0gv9PlT60sDSyIToebGxBSbTVq_0vwn/view?usp=sharing",
                        {class: "btn btn-primary btn-lg", target: "_blank"}) %>
                	</li>                	
                </ul>
            </div>            
        </div>
    </div>
</section>
