<section id="work" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
            <h1 class="section-heading">Work</h1>
            <div class="container-fluid">
                <div class="row no-gutter">
                    <% portfolio_tile_props = {title: "PORTFOLIO", caption: "This website! (checkout the GitHub repo)", link: "https://github.com/calvillain/calvin-portfolio-website", img_src: image_path("portfolio-600-375.jpg")} %>
                    <%= react_component("Tile", props: portfolio_tile_props) %>
                </div>
            </div>
        </div>
    </div>
</section>
